{% extends "base.html.twig" %}
{% block style %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block header %}
    <div class="row over-header mb-2">
        <div class="col mt-2">
            <h4 class="text-center over-header__title">{{ content.title }}</h4>
        </div>
    </div>
    {% include 'snippets/menu.html.twig' with {'snippet': sulu_snippet_load_by_area('snippet_menu')} %}
{% endblock %}

{% block content %}
    {% include 'snippets/about.html.twig' with {'snippet': sulu_snippet_load_by_area('snippet_about')} %}

    <div class="row">
        <div class="col headband p-6"></div>
    </div>

    {% include 'snippets/service.html.twig' with {'snippet': sulu_snippet_load_by_area('snippet_service')} %}

    {% include 'snippets/contact.html.twig' with {'snippet': sulu_snippet_load_by_area('snippet_contact')} %}

    {% include 'snippets/gallery.html.twig' with {'snippet': sulu_snippet_load_by_area('snippet_gallery')} %}
{% endblock %}

{% block footer %}
    <div class="row">
        <div class="col border border-danger">
            <h4>FOOTER</h4>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
